<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Seja vem vindo!</h1>

    {% if user.is_authenticated %}

        <p>Olá {{ user.username }}</p>
        <a href="{% url 'logout' %}">Sair</a>

    {% else %}
        <a href="{% url 'login' %}">Entrar</a>

    {% endif %}

</body>
</html>