<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tem certeza que deseja deletar o registro abaixo? {{person.frist_name}}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>

</body>
</html>